on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
jobs:
  training-testing:
    name: Training and Testing
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{github.event.after}}
      - name: Get Commit Message
        run: |
          MSG=$(git log --format=%B -n 1 ${{github.event.after}})
          echo "::set-env name=COMMIT_MESSAGE::${MSG}"
      - name: Install Commitizen
        run: pip install -U Commitizen
      - name: Check For Valid Commit Message
        run: cz check -m "${{env.COMMIT_MESSAGE }}"
      - name: Rasa Train and Test GitHub Action
        uses: RasaHQ/rasa-train-test-gha@main
        with:
          rasa_version: '3.3.0'
          data_validate: true
          rasa_train: true
          cross_validation: false
          rasa_test: true
          test_type: all
          publish_summary: true
          github_token: ${{ secrets.RASA_TOKEN }}
      - name: Checking Commitizen Works
        run: cz version -p
      - name: Set Version
        run: |
          echo "COMMITIZEN_VER=$(cz version -p)" >> $GITHUB_ENV
        id: commitizen-version
      - name: Echo Current Version
        run: |
          echo "The current version is: ${{ env.COMMITIZEN_VER }}"